:root {
  --accent-color: #2196f3;
  --accent-secondary-color: #212121;
  --accent-bacground-color: #2f303a;
  --second-bacground-color: #f5f4fa;
  --accent-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-font-weight: 700;
  --second-font-weight: 500;
  --accent-font-color: #757575;
  --accent-color-white: white;
  --accent-font-size: 14px;
  --secondary-font-size: 16px;
  --accent-line-height: 1.14;
  --accent-svg-fill: AFB1B8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* ===============/STYLES-RESET/=============== */
ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ==========/GENERAL-SETTINGS/========== */
.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ===============/HEADER/=============== */
.container__page {
  display: flex;
}
.header {
  border-bottom: 1px solid #ececec;
}
.link {
  text-decoration: none;
  margin: auto;
}
.nav__link {
  text-decoration: none;
}
body {
  font-family: var(--accent-font);
  background-color: var(--accent-color-white);
  font-size: var(--accent-font-size);
  color: var(--accent-font-color);
  letter-spacing: 0.03em;
}
/* ===============/LOGO/================== */
.nav__logo {
  color: var(--accent-color);
  font-weight: var(--accent-font-weight);
  font-family: raleway;
  font-size: 26px;
}
.logo {
  color: var(--accent-secondary-color);
  font-weight: var(--accent-font-weight);
  font-family: raleway;
  font-size: 26px;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo--color {
  color: var(--accent-color-white);
}
/* ===============/MENU/================== */
.box {
  list-style: none;
  box-sizing: border-box;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.nav {
  display: flex;
}
.nav__style {
  font-weight: var(--second-font-weight);
  line-height: var(--accent-line-height);
  letter-spacing: 0.02em;
  color: var(--accent-bacground-color);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}
.nav__menu {
  margin-right: 50px;
}
.nav__menu:last-child {
  margin-right: 0px;
}
.nav__style:hover,
.nav__style:focus,
.current {
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.contact__mail,
.contact__phone {
  font-weight: 500;
  font-style: normal;
  line-height: var(--accent-line-height);
  letter-spacing: 0.02em;
  color: var(--accent-font-color);
  transition: color 250ms var(--cubic);
  fill: #757575;
  display: flex;
  align-items: center;
}
.contact__mail--color,
.contact__phone--color {
  color: rgba(255, 255, 255, 0.6);
}
.contact__position {
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact__icon {
  margin-right: 10px;
  transition: fill 250ms var(--cubic);
}
.contact__mail:hover,
.contact__phone:hover {
  fill: var(--accent-color);
}
.contact__mail:hover,
.contact__phone:focus,
.contact__mail:focus,
.contact__phone:hover,
.contact-adress:hover,
.contact-adress:focus {
  color: var(--accent-color);
  transition: color 250ms var(--cubic);
}
.contact {
  margin-left: auto;
  align-items: center;
}
/* =============/BODY-HERO/================ */
.hero__overlay {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__header {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color-white);
  width: 696px;
}
.hero__btn {
  padding: 10px 32px 10px 32px;
  font-size: var(--secondary-font-size);
  font-weight: var(--accent-font-weight);
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
}
/* ============/DESCRIPTION/=============== */
.description {
  margin-right: 30px;
}
.description:last-child {
  margin-right: 0;
}
.description__item {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-description-indent {
  margin-right: 0;
}
.description__header {
  font-size: 14px;
  line-height: var(--accent-line-height);
  text-transform: uppercase;
  color: var(--accent-bacground-color);
  margin-top: 30px;
}
.description__text {
  margin-top: 10px;
  line-height: 1.71;
}
/* =============/WORK/================ */
.work {
  margin-bottom: 50px;
  font-weight: var(--accent-font-weight);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--accent-bacground-color);
}
.work__img {
  margin-right: 30px;
}
.work__img:last-child {
  margin-right: 0;
}
.section__ident {
  padding-top: 0;
}
.work__text {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: var(--accent-font-weight);
  font-size: var(--accent-font-size);
  line-height: var(--accent-line-height);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color-white);
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.work__img {
  position: relative;
}
/* =============/TEAM/================ */
.section__team {
  background-color: var(--second-bacground-color);
}
.team__card {
  background-color: var(--accent-color-white);
  margin-right: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.team__card:last-child {
  margin-right: 0;
}
.team__header {
  margin-bottom: 50px;
  font-weight: var(--accent-font-weight);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--accent-bacground-color);
}
.team__command {
  font-size: var(--secondary-font-size);
  line-height: 1.19;
  text-align: center;
  color: var(--accent-bacground-color);
}
.team__profession {
  margin-bottom: 16px;
  margin-top: 10px;
  line-height: 1.19;
  text-align: center;
}
.team__block {
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.team__icon {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.team__icon__item {
  background-color: transparent;
  fill: #afb1b8;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-right: 10px;
  transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
}
.team__icon__item--color {
  fill: var(--accent-color-white);
  background-color: rgba(255, 255, 255, 0.1);
}
.team__icon__item:last-child {
  margin-right: 0;
}
.team__icon__item:hover {
  background-color: #2196f3;
  fill: #ffffff;
  border: none;
}
/* ==============/CLIENTS/================= */
.clients {
  margin-bottom: 50px;
  font-weight: var(--accent-font-weight);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--accent-bacground-color);
  display: block;
}
.clients__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients__icon--item {
  display: flex;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  cursor: pointer;
  margin-right: 30px;
  fill: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms var(--cubic), border 250ms var(--cubic);
}
.clients__icon--item:last-child {
  margin-right: 0;
}
.clients-icon-item:hover {
  border: 1px solid var(--accent-color);
  fill: #2196f3;
  transition: fill 250ms var(--cubic), border 250ms var(--cubic);
}
/* =============/PORTFOLIO-MENU/================ */
.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.menu__btn__first {
  padding: 6px 22px 6px 22px;
  margin-right: 8px;
  font-size: var(--secondary-font-size);
  line-height: 1.62;
  text-align: center;
  color: var(--accent-color-white);
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.menu__btn__first:hover,
.menu__btn__first:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.menu__btn {
  padding: 6px 22px 6px 22px;
  margin-right: 8px;
  font-size: var(--secondary-font-size);
  line-height: 1.62;
  text-align: center;
  color: black;
  background-color: var(--second-bacground-color);
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
}
.menu__btn:focus,
.menu__btn:hover {
  background-color: var(--accent-color);
  color: var(--accent-color-white);
}
/* ===========/PORTFOLIO/============== */
.card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.card__img {
  margin-left: 30px;
  margin-top: 30px;
  color: currentColor;
}
.card__img:hover .card__before__hidden {
  transform: translateY(0%);
}
.card__link {
  display: block;
}
.card__link:hover,
.card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__before__thumb {
  position: relative;
  overflow: hidden;
}
.card__before__hidden {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms var(--cubic);
  background-color: rgba(33, 150, 243, 0.9);
}
.card__before__text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}
.card__before {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.card__header {
  font-weight: var(--accent-font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-bacground-color);
}
.card__text {
  font-size: var(--secondary-font-size);
  line-height: 1.87;
  color: var(--accent-font-color);
  font-weight: 400;
}
/* ==========/FOOTER/============= */
.contact__adress {
  font-style: normal;
  line-height: 1.71;
  color: var(--accent-color-white);
}
.box__item:first-child {
  margin-top: 20px;
}
.box__item {
  margin-top: 9px;
}
.footer {
  background-color: var(--accent-bacground-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
/* ============/FOOTER-ICON/=============== */
.join {
  margin-left: 70px;
}
.join__header {
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: var(--accent-font-size);
  line-height: var(--accent-line-height);
  color: var(--accent-color-white);
  text-transform: uppercase;
}
.join__icon {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
}
.footer__block {
  display: flex;
  align-items: baseline;
}
/* ============/SUBSCRIBE/=============== */
.subscribe {
  margin-left: auto;
}
.subscribe__header {
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: var(--accent-font-size);
  line-height: var(--accent-line-height);
  color: var(--accent-color-white);
  text-transform: uppercase;
}
.subscribe__field {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
.subscribe__input {
  width: 358px;
  height: 49px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: var(--secondary-font-size);
  line-height: 1.25;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__btn {
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 28px;
  font-size: var(--secondary-font-size);
  font-weight: var(--accent-font-weight);
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  padding-right: 62px;
  margin-left: 12px;
}
.subscribe__btn::after {
  position: absolute;
  content: "";
  background-image: url("../images/send.svg");
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
}
/* ============/MODAL-WINDOW/=============== */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms var(--cubic);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--accent-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.modal__btn {
  position: absolute;
  background-color: #ffffff;
  border: none;
  fill: #000000;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
}
.modal__btn:hover {
  fill: var(--accent-color);
}
textarea {
  resize: none;
}
.form__header {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: var(--accent-font-weight);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.form {
  margin-left: auto;
  margin-right: auto;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.form__icon:hover {
  fill: #2196f3;
}
.form__label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.form__field {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__field:hover input,
textarea,
.form__field:focus input,
textarea {
  border: 1px solid #2196f3;
  height: 40px;
}
.form__input:hover ~ .form__icon,
.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
}
.form__field input,
textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  padding-right: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.form__field textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
}
.form__field textarea:hover,
.form__field textarea:focus {
  border: 1px solid #2196f3;
}
.form__field input::placeholder {
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input {
  padding-left: 35px;
  width: 448px;
  height: 40px;
  cursor: pointer;
}
.form__input:last-child {
  padding-left: 16px;
}
.form__input:hover,
.form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.accept__btn {
  display: flex;
  justify-content: center;
}
.form__btn {
  border: none;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  padding: 10px 55px 10px 55px;
  font-size: var(--secondary-font-size);
  font-weight: var(--accent-font-weight);
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  background-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
}
.form__btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* ============/CHECKBOX/================ */
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.checkbox__option {
  padding-left: 1.2em;
}
.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}
.checkbox__input:checked + .checkbox__lable {
  background-image: url("../images/check-hover.svg");
}
.checkbox__lable {
  position: absolute;
  width: 1em;
  height: 1em;
  background-image: url("../images/check.svg");
  width: 16px;
  height: 15px;
  left: 52px;
  transform: translateY(20%);
}
.checkbox__conditions {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration-line: underline;
}
